/questao-01/TemperatureConverter/nbproject/private/
/questao-01/TemperatureConverter/build/
/questao-01/TemperatureConverter/dist/
/questao-01/TemperatureConverter/test/
/questao-02/MultiplicationTable/nbproject/private/
/questao-02/MultiplicationTable/build/
/questao-02/MultiplicationTable/dist/
/questao-02/MultiplicationTable/test/
/questao-03/Numerology/nbproject/private/
/questao-03/Numerology/build/
/questao-03/Numerology/dist/
/questao-03/Numerology/test/
/questao-04/Survey/nbproject/private/
/questao-04/Survey/build/
/questao-04/Survey/dist/
/questao-04/Survey/test/
/questao-05/FutureValueCalculator/nbproject/private/
/questao-05/FutureValueCalculator/build/
/questao-05/FutureValueCalculator/dist/
/questao-05/FutureValueCalculator/test/
/questao-06/EmployeeRegistration/nbproject/private/
/questao-06/EmployeeRegistration/build/
/questao-06/EmployeeRegistration/dist/
/questao-06/EmployeeRegistration/test/