/questao-01/ConversaoTemperatura/build/
/questao-01/ConversaoTemperatura/dist/
/questao-01/TemperatureConverter/nbproject/private/
/questao-01/TemperatureConverter/build/
/questao-02/MultiplicationTable/nbproject/private/
/questao-02/MultiplicationTable/build/
/questao-03/Numerology/nbproject/private/
/questao-03/Numerology/build/
/questao-03/Numerology/dist/